#secao-apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    width: 100%;
    height: calc(100vh - 64px);
    background-image: url("../../images/Conjunto\ Imagem\ Fundo.png");
    background-size: cover;
    background-position: center;
    padding: 0 9em 0 9em;
    z-index: -2;
}
#apresentacao{
    color: white;
    width: 50%;
}
#apresentacao-conteudo{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 32px 0 32px 16px;
} 
#apresentacao-conteudo>div{
    background-color: rgba(30, 93, 219, 0.67);
    padding: 32px;
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    z-index: 0;
}
#apresentacao-conteudo>h1{
    width: fit-content;
    font-size: 4.5em;
    font-family: 'EmotionEngine', sans-serif;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 70px;
    padding-right: 50%;
    background-color: rgba(30, 93, 219, 0.67);
    border-radius: 10px;
    z-index: 1;
    position: relative;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}
#apresentacao-conteudo>p{
    position: relative;
    padding-left: 20px;
    background-color: rgba(30, 93, 219, 0.67);
    border-radius: 10px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-top: -62px;
    font-weight: 500;
    z-index: 1;
}
#apresentacao>button{
   background-color: var(--unique-blue);
   color: white;
   font-size: 2em;
   border-radius: 15px;
   padding: 20px 40px 20px 40px;
   text-align: center;
   border: none;
   cursor: pointer;
   font-family: 'EmotionEngine', sans-serif;
   font-weight: bold;
   margin-top: 16px;
   text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
   box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
} 
#apresentacao>button:hover{
    opacity: 0.85;
}
#apresentacao>button:active{
    opacity: 0.75;
}
#secao-apresentacao>img{
    width: 40%;
}
#secao-mockup{
    height: 730px;
    width: 100%;
    background-image: url("../../images/Imagem\ mockups.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 4em;
}
#secao-mockup>h2{
    color: white;
    text-align: center;
    font-size: 2.5em;
    padding-top: 0.5em;
    font-family: 'EmotionEngine', sans-serif;
    font-weight: bold;	
    text-shadow: 0px 2px 0px rgba(30, 93, 219, 1);
}
#secao-carrossel{
    width: 100%;
    height: 400px;
    /* height está de placeholder apenas*/
    background-image: url("../../images/Fundo\ azul\ carrosel.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
footer{
    margin-top: 4em;
}