main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    background-color: var(--unique-blue);
    padding-bottom: 2em;
}
body>img{
    width: 100%;
    margin-bottom: -5px;
    margin-top: 30px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &>h2{
        color: white;
        font-size: 4em;
        width: 80%;
        text-align: center;
    }
    &>p{
        color: white;
        font-size: 20px;
        width: 80%;
        text-align: center;
    }
    form{
        width: 80%;
        margin-bottom: 0.5em;
        margin-top: 1.5em;

        &>input{
            width: 40%;
            background-color: var(--light-offwhite);
            border: none;
            border-radius: 15px;
            padding: 16px;
            font-size: 18px;
            font-weight: 500;
            
            &:focus{
                outline: none;
            }
        }
    }
}
#problemas{
    width: 100%;
    background-color: var(--light-offwhite);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.5em 0;
    gap: 1em;

    &>article{
        width: 80%;
        margin-left: 10%;

        &>h3{
            font-size: 22px;
            font-weight: 600;
            border-left: 5px solid var(--unique-blue);
            border-radius: 4px;
            padding-left: 5px;
            color: black;
            width: 100%;
            margin-bottom: 6px;
        }
        &>ul{
            list-style-position: inside;
            
            &>li{
                color: var(--unique-blue);

                &::marker{
                    color: var(--unique-blue);
                }
                &>a{
                    color: var(--unique-blue);
                    font-style: italic;
                }
            }
        }
    }
}